/*
Theme Name: Chancia
Theme URI: http://chancia.menasys.fr
Author: arbi and houssem
License: GNU General Public License v2 or later
*/

body{
    font-family: Hero , sans-serif;
}

.container-fluid {
    padding: 0 !important;
}
img{
    max-width: none;
}

.container-fluid {
    padding: 0 !important;
}

a,p {
    font-size: 12px;
}
.current{
    color: #4b4b4b;
}
/**
 Css of top bar
*/

.top-bar {
    background: #b50000;
    height: 52px;
    width: 100%;

}
.top-bar .mail {
    position: relative;
    left: -15px;
    float: left;
    background: #cf0000;
    background-size: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    height: 100%;
    width: 100%;
}
.top-bar .mail a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.top-bar .social-networ {
    text-align: center;
    background: #9c0000;
    height:100%;
    right: -15px;
}
.top-bar .social-networ ul {
    margin-top: 15px;
}
.top-bar .social-networ ul li {
    display: inline;
    margin-right: 20px;

}
.top-bar .social-networ a {
    color: #ffffff;
    font-size: 16px;
}

/**

    Style of navbar
*/

.navbar {
    height: 120px !important;
    background: #ffffff;
    position: relative;
}
.nav .navbar-nav {
    background-color: #727272 ;
    heigth : 300px;
}
.navbar-header {
    float: none;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-collapse.collapse {
    display: none!important;

}

.navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 40px;
    margin-left: 13%;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar .navbar-brand {
    position: absolute;
    left: 30%;
    margin-left: -50px !important;
    display: block;

}
@media (max-width: 1064px) {
    .navbar .navbar-brand {
        position: absolute;
        left: 22%;
        margin-left: -50px !important;
        display: block;

    }
    .navbar .phone-number {
        position: absolute;
        left: 45%;
        top:35%;
        margin-left: -50px !important;
        display: block;
        font-size: 16px;
        font-weight: bold;
    }
}
@media (max-width: 931px) {
    .navbar .navbar-brand {
        position: absolute;
        left: 20%;
        margin-left: -50px !important;
        display: block;

    }

}
@media (max-width: 931px) {
    .navbar .navbar-brand {
        position: absolute;
        left: 16%;
        margin-left: -50px !important;
        display: block;

    }

}
@media (max-width: 774px) {
    .navbar .navbar-brand {
        position: absolute;
        left: 16%;
        margin-left: -50px !important;
        display: block;

    }

}
.logo{

    max-width: 80%;
    height: auto;
}
.navbar .phone-number {
    position: absolute;
    left: 70%;
    top:35%;
    margin-left: -50px !important;
    display: block;
    font-size: 16px;
    font-weight: bold;
}

/**
    style of search section
*/

.search-container {
    position: relative;
    padding: 0;
    height: 600px;
    max-height: 700px;
    background: url("../img/background-search.png") no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}
.search-section{
    max-height: 545px;
    position :absolute;
    bottom: 0;
    background: rgba(37,41,43,0.6);
    width: 100%;
    text-align: center;
    color : #ffffff;

}
@media (max-width: 991px){
    .search-section{

        position :absolute;
        top: 0;
        left: 0;
        max-height: 100%;


    }
}

.search-section h2 {
    margin-bottom: 40px;
}


.form-group-lg .form-control {
    font-size: 14px;
}
.search-btn{
    background: #e70000;
    color: #ffffff;
    font-size: 16px;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    border-radius:40px;
    padding: 10px 40px;
    margin-top: 25px;
}
.form-group-lg .form-control {
    border-radius: 10px !important;
}

label {
    font-weight: 400 !important;
}

@media(max-width: 556px){
    .search-form .form-group {
        margin-bottom: 7px;
    }
    .best-of h1 {
        font-size: 27px !important;
    }

    #offre2 .details-offre , #offre3 .details-offre{
        left: 20px;
    }
}
@media(max-width: 275px){
    .search-form .form-group {
        margin-bottom: 0px;
    }
    .best-of h1 {
        font-size: 23px !important;
    }
}
@media(max-width: 216px){
    .search-form .form-group {
        margin-bottom: -2px;
    }

    .search-form .form-group-lg .form-control {
        height: 41px;
    }
}

/*
    Style of best of
*/
.best-of{
    text-align: center;
}
.best-of h1 {
    font-size: 46px;
    margin-bottom: 25px;
}
.best-of p{
    color: #a0a1a1 ; font-size:  14px;
}
#nav-offres{
    height: 80px !important;
}

#nav-offres ul li a{
    font-size: 14px;
    font-weight: 600;
}
/**
    style de tabulation
*/

#offres-tabs ,#offres-tabs-sm{
    height: 80px !important;
    border: 0;
}
#offres-tabs>li  {
    margin-right: 15px !important;
}
#offres-tabs ul li a ,#offres-tabs-sm ul li a {
    font-size: 14px;
    font-weight: 600;
}
#offres-tabs> li >a ,#offres-tabs-sm> li >a {
    border: 0;
    color: #777;
    font-size: 14px;
    font-weight: 600;
}
#offres-tabs> li.active>a ,#offres-tabs-sm> li.active>a {
    color: red;
}
#offres-tabs> li.active :after ,#offres-tabs-sm> li.active :after{
    content: '';
    position: absolute;
    width: 50%;
    left: 25%;
    bottom: 0px;
    border-bottom: 1px solid #e70000;
}


.navbar-default {
    border : 0;
}

#offre1 {
    position: relative;
    background: url("../img/offre1.png") no-repeat;
    background-size: cover;
    height: 350px;
    margin-bottom: 40px;
}

#offre1-sm{
    background: url("../img/offre1.png") no-repeat;
    background-size: cover;
    height: 465px;
    margin-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}
#offre1 .hammamet-img {
    position: absolute;
    left: 20px;
    top: 20px;
}
#offre1-sm .hammamet-img{

}
#offre1 .reserve {
    background: url("../img/reserve-btn.png") no-repeat;
    background-size: 180px 45px;
    padding: 0;
    border: 0;
    height: 45px;
    width: 180px;
    position: absolute;
    bottom: 30px;
    left: 10px;
}
#offre1-sm .reserve ,#offre2-sm .reserve,#offre3-sm .reserve{
    border: 0;
    color: #ff0b00;
    border-radius: 45px;
    background: #ffffff;
    padding: 10px 25px;
    margin-top: 10px;

}
#offre2{
    background: url("../img/offre2.png") no-repeat;
    background-size: cover;
    height: 350px;
    position: relative;


}
#offre2-sm{
    background: url("../img/offre2-sm.png") no-repeat;
    background-size: cover;
    height: 465px;
    margin-bottom: 40px;
    padding-top: 40px;
    text-align: center;

}
#offre3-sm{
    background: url("../img/offre3-sm.png") no-repeat;
    background-size: cover;
    height: 465px;
    margin-bottom: 40px;
    padding-top: 40px;
    text-align: center;

}

#offre3{
    background: url("../img/offre3.png") no-repeat;
    background-size: cover;
    height: 350px;
    position: relative;

}
#offre2 .reserve,#offre3 .reserve{
    background: url("../img/reserve-btn.png") no-repeat;
    background-size: 180px 45px;
    padding: 0;
    border: 0;
    height: 45px;
    width: 180px;
    position: absolute;
    bottom: 30px;
    right: 10px;
}

#offre2 .sousse-img,#offre3 .sousse-img{
    position: absolute;
    right: 20px;
    top: 20px;
}

.details-offre {
    color:  #ffffff;

}
#offre1 .details-offre  {
    float: right;
    margin-right: 15%;

}
@media (max-width: 1199px){
    #offre1 .details-offre  {
        margin-right: 5%;

    }

}
#offre1-sm .details-offre {
    padding-top: 20px;
    background: rgba(0,0,0,0.7);
    height: 300px;
    width: 100%;
}
#offre2 .details-offre  ,#offre3 .details-offre {
    position: absolute;
    left: 40px;
}
#offre2-sm .details-offre  {
    padding-top: 20px;
    background: rgba(137,35,40,0.7);
    height: 300px;
    width: 100%;
}
#offre3-sm .details-offre  {
    padding-top: 20px;
    background: rgba(216,41,31,0.7);
    height: 300px;
    width: 100%;
}

.price {
    margin-top: 50%;
}
#offre1-sm .price ,#offre2-sm .price,#offre3-sm .price {

    margin-top: 40px !important;
}
.price p{
    font-size: 16px;
}
.price .old {
    color: rgba(255,255,255,0.8);
    font-size: 28px;

}
#offre1-sm .price .old ,#offre2-sm .price .old ,#offre3-sm .price .old {
    font-size: 20px;
}
.price .barre {
    text-decoration:line-through;
}
.price .float {
    font-size: 24px ;
}
#offre1-sm .price .float ,#offre2-sm .price .float ,#offre3-sm .price .float {
    font-size: 16px !important;
}
.price .new {
    color: rgba(255,255,255,1);
    font-size: 28px;

}
#offre1-sm .price .new,#offre2-sm .price .new,#offre3-sm .price .new {
    font-size: 20px;
}

#offre1 .price {
    margin-top: 45%;
}
#offre1-sm .price{

}
.enfant p{
    margin-left: 10px;
    font-size: 16px;
}

@media (max-width: 609px){
    .enfant img {
        margin-left: 37% !important;
    }
}
@media (max-width: 480px){
    .enfant img {
        margin-left: 33% !important;
    }
}
@media (max-width: 465px){
    .enfant img {
        margin-left: 27% !important;
    }
}@media (max-width: 280px){
    .enfant img {
        margin-left: 20% !important;
    }
}


/**
    style de la page destination
*/

.search-destination {
    background: #212121;
    height: 120px;
    width: 100%;
    margin-top: 20px;
    color: #ffffff;
    padding-top: 20px;
    padding-left: 40px;

}
@media (max-width: 991px){
    .search-destination {
        height: 365px;
    }
    .hotel__details__image{
        position: relative !important;
    }
    #search-dist-result {
        text-align: center;
    }
    .hotels-container {
        padding: 0;
    }
}
.hotels-container {
    padding: 20px 10%;
}
.hotels-container p{
    color: #212121;
    font-size: 14px;
}
.hotels-container img {
    width: 100%;
    max-height: 200px;
    margin-bottom: 20px;
}




.hotel-info h4  {
    color : #212121 !important;

}
.hotel-info button {
    width: 100px;
    margin-top: 40px;
}


.hotel__reservation{
    position: relative;
    width: 100%;
    height: 265px;
    border-radius: 5px;

}
.hotel__reservation__image{
    position: absolute;
    min-height: 200px;
    top: 0;
    left: 0;
    z-index: 1;
}

.hotel__reservation__filtre{
    position: absolute;
    background-color: rgba( 255, 255, 255, 0.8);
    width: 40%;
    height: 265px;
    z-index: 2;
}

.hotel__info{
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 9;
}



.grand-tunis {

    background: #b76c7a;
    color: #ffffff;

}
.centre-tunis {
    background: #903f2c;
    color: #ffffff;
}
.cap-bon {

    background: #f6b013;
    color: #ffffff;

}
.sahel {

    background: #03b3fd;
    color: #ffffff;

}
.sud{

    background: #e62b6e;
    color: #ffffff;

}
.nord {

    background: #5bd4e7;
    color: #ffffff;

}
.nord-ouest{

    background: #8cc64c;
    color: #ffffff;

}
#search-dist-result ul{
    border: 1px solid #ddd;

}
#search-dist-result a {
    color :#212121 ;
    border: 0;
}
#search-dist-result li.active a{
    color :#e70000 ;
    background: #ffffff;

}

/**
    style de la page séjours
*/

.sejour__info{
    position: absolute;
    top: 15%;
    left: 7%;
    z-index: 9;
}
.sejour__info h4{
    width: 35%;
}

/*
   style page offre couples
*/

.search-item-list{
    margin-bottom: 120px;
}
.search-details {
    background: #212121;
    height: 120px;
    width: 100%;
    margin-top: 20px;
    color: #ffffff;
    padding-top: 20px;
    padding-left: 70px;
}
.search-details p{
    margin-top: 30px;
}
.hotel-img {
    position: relative;
    width: 100%;

}
.hotel__details{
    left: 3%;
    z-index: 9;
    border: 1px solid #e0e0e0;
    padding-left: 5px;
    background: #fafafa;
}
@media (max-width: 991px){
    .search-details {
        height: 460px !important;
        padding-left: 0px;
    }

}
.hotel__details p{
    color: #5b5b5b;
}
.hotel__details a{
    color: #2c2c2c;
    text-decoration: none;
}
.hotel__details h3{
    color: #ff0a00;
}
.vote {
    width: 123px !important;
}
.like {
    height: 22px;
    width: 22px !important;
    margin-right: 5px;
}

.hotel__details__image{
    position: absolute;
    min-height: 200px;
    top: 0;
    left: 0;
    z-index: 1;
}
.details-price .price {
    font-size: 16px;
    margin-top: 5px !important;
    font-size: 22px;
    font-weight: bold;

}
.details-price .price .float{
    font-size: 16px !important;
    font-size: 22px;

}

.details-price button{
    padding: 10px 22px !important;
}

/**
    style de la page recherche avancée
*/

.advanced-search {
    background: #bdac9c;
    padding-left: 170px;
    margin-top: -10px;
    padding-top: 46px;
    padding-bottom: 40px;
    margin-bottom: 50px;
}
@media(max-width: 991px) {
    .advanced-search {
        padding-left: 50px;
        padding-right: 50px;
    }
    .advanced-search .col-md-2 {
        margin-bottom: 20px;
    }
}
.advanced-search h4 {
    color : #ffffff;
}
.advanced-search h6{
    font-weight: bold;
}
.advanced-search img {
    margin-right: 10px;
}
.advanced-search .search-method {
    margin-right: 15px;
}
.advanced-search .progress {
    width: 100%;
    height: 15px !important;
}
.advanced-search .price {
    color: #ffffff;
    font-size: 16px;
}
.advanced-search .divider{
    height: 1px;
    border-top: 1px solid #ae9b89 !important;
    width: 100%;
}

.advanced-search .form-control{
    font-size: 12px;
    border-radius: 10px;
}
.progress-bar-danger {
    background-color: #e70000 !important;
}


/**
* @separation css
*/

.offres_theme{
    padding-top: 180px;
    position: relative;
    padding-left: 35%;
    padding-right: 35%;
}
.offres__theme_title{
    font-size: 48px;
    color: #212121;
    text-align: center;
}

.offre__char{
    color: #e70000;
}

.offres__theme__description{
    font-size: 15px;
    color: #8e8f8f;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.offres__theme__description span{
    padding-right: 10px;
    float: left;
}
.img__room{
    float: right;
}

.img__room img{
    width: 100%;
    height: auto;
}

.offres__theme_hr{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 180px;
    border: 0;
    border-top: 3px solid #212121;
    padding-bottom: 50px;
}

.offres__detail_hr{
    border: 0;
    border-top: 3px solid #212121;
}

.offres_example{
    font-size: 34px;
    color: #212121;
    float: left;
    width: 100%;
}
.offres__example__description{
    font-size: 15px;
    color: #8e8f8f;
    float: left;
    margin-right: 52%;
}

.offres_example__promo{
    font-size: 30px;
    color: #ff0b00;
}

.offres_example_nav{
    width: 100%;
    float: left;
    margin-top: 50px;
}


.offres_example_carousel li {
    float: left;
    width: 10px;
    height: 10px;
    margin: 0;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 5px;
}

.offres_example_carousel li.active{
    background-color: #b50000;
}

.offres_example_carousel{
    list-style:none;
}


.menu__defilie{
    width: 100%;
    height: 255px;
    background-color: #29292b;
}

.logo__societe{
    text-align: center;
    width: 200px;
    margin-top: 80px;
    float: left;
}

.menu__left{
    text-align: center;
    width: 100px;
    margin-top: 80px;
    float: left;
}

.menu__right{
    text-align: center;
    width: 100px;
    margin-top: 80px;
    float: right;
}



.menu__defilie{
    width: 100%;
    padding-top: 90px;
}


.image__menu_left{
    float: left;
    padding-left: 200px;
    padding-right: 60px;
    width: 12.5%;
}

.image__menu_left img{
    height: auto;
    width: 100%;
}

.image__menu_right{
    float: left;
    padding-right: 200px;
    padding-left: 60px;
    width: 12.5%;
}

.image__menu_right img{
    width: 100%;
    height: auto;
}




.image__menu{
    float: left;
    width: 12.5%;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.image__menu img{
    width: 100%;
    height: auto;
}



.offre__avis{
    position: relative;
    width: 100%;

}

.offre__avis__title{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    vertical-align: middle;
    color: #FFF;
    padding-top: 19%;
    font-size: 45px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.btn__offre_avis{
    border-radius: 40px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    vertical-align: middle;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 65px;
    padding-right: 65px;
    color: #FFF;
    font-size: 22px;
    background-color: #ff0b00;
}

.offres__footer{
    padding-right: 0px;
    text-align: left;
}

.offres__theme__description_footer{
    font-size: 15px;
    color: #8e8f8f;
    text-align: left;
}

.icon__contact_footer{
    padding: 5px 20px;
    display: inline-block;
    display: -webkit-box;
}

.description_footer{

    font-size: 15px;
    padding-left: 10px;
    color: #8e8f8f;
    text-align: left;
}

.coc__img{
    float: right;
    padding-right: 66%;;
}

.store__icon{
    padding-top: 20px;
}

.apple_icon{
    padding-left: 40px;
}

.footer{
    background-color: #ea0000; 
    height: 55px;
    margin-top: 95px;
}

.text_footer{
    color: #fff;
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
}

.rsocial__icon{
    padding-top: 20px;
    padding-left: 30px;
}

.special_chancia_media{
    float: right;
    padding-left: 35px;
    padding-right: 35px;
}

.media{
    padding-top: 50px;
}

.description__media{
    float: left;
    text-align: left;
}

.media .offres__theme_hr{
    width: 100% !important;
}

.media-heading{
    line-height: 33px;
}


.hotel__reservation{
    position: relative;
    width: 100%;
    height: 265px;
    border-radius: 5px;

}
.hotel__reservation__image{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.hotel__reservation__filtre{
    position: absolute;
    background-color: rgba( 255, 255, 255, 0.8);
    width: 40%;
    height: 265px;
    z-index: 2;
}

.hotel__info{
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 9;
}

.group__datepicker{
    position: relative;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 25%;
    margin-left: 10px;
}
.group__datepicker p{
    position: absolute;
    font-size: 18px;
    padding-left: 25px;
    vertical-align: middle;
    padding-top: 20px;
}
.form__control_data_reservation{
    width: 100%;
    height: 50px;
    padding-top: 20px;
    background-color: inherit;
    border: 1px #FFF solid;
    text-align: center;
    color: #f3b34e;
    font-size: 18px;
    margin-top: 20px;
}


.btn-hamamet {
    background-color: #f6b013;
    color: #FFF;
}

.details__media{
    border: 1px solid #e0e0e0; border-radius: 5px;
    padding: 15px 10px;
}
.detail__offre__icon{
    padding-right: 5px;
}

.detail__offre__container{
    position: relative;
    border: 1px solid #e0e0e0; border-radius: 5px;
    margin-top: 30px;
    padding: 15px 15px;
}
.offre__prix{
    font-size: 24px;
    float: right !important;
}
.offre__prix__total{
    font-size: 47px !important;
    float: right !important;
    color: #000;
}
.offres__theme__description_total{
    padding-bottom: 60px;
}

.offres__theme__description_total span{
    font-size: 18px;
    float: left;
}

.detail__offre__container h3 {
    font-size: 24px;
    color: #212121;

}
.detail__offre__container .col-md-6 ,.detail__offre__container .col-sm-6 ,.detail__offre__container .col-xs-6{
    padding: 0;
    margin: 0;
}

.detail__offre__container .col-md-12 ,.detail__offre__container .col-sm-12 ,.detail__offre__container .col-xs-12{
    padding: 0;
    margin: 0;
}

.offres__theme__description .detail__text {
    font-size: 15px;
    color: #8e8f8f;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.offres__theme__description label{
    float: left;
}

.required__data{
    color: #f8d3a3;
}

.form__detail{
    padding: 15px;
}

/**
* style chekbox
*/

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    color: #ea0000;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

/**
@media(max-width: 1660px){
    .respensive__text__search{
        width: 100% ;
        text-align: center;
    }
    .respensive__btn__search{
        width: 100%;
    }
    .search-destination{
        height: 250px;
    }
}*/
@media (max-width: 1500px){
    .btn__offre_avis{
        margin-top: 500px;
    }

    .coc__img {
        float: right;
        padding-right: 48%;
    }
    
    .respensive__text__search{
        width: 100%;
        text-align: center;
    }
}

@media(max-width: 1200px){
    .offres_theme{
        padding-top: 50px;
    }

    .contact_style{
        text-align: center !important;
    }
    .icon__contact_footer{
        padding-left: 100px;
        margin-left: 0px;
        width: 100%;
    }

    .coc__img{
        float: right;
        padding-left: 0px;
        padding-right: 24%;
        text-align: right;
    }

    .store__icon{
        padding-left: 100px;
        margin-left: 0px;
    }

    .apple_icon{
        padding-left: 20px;
    }
}

@media (max-width: 990px){
    .offres_example {
        font-size: 34px;
        color: #212121;
        float: left;
        width: 100%;
        text-align: center;
    }

    .offres__footer {
        padding-left: 0px;
    }
    .offres__example__description {
        font-size: 15px;
        color: #8e8f8f;
        text-align: center;
        float: none;
        margin-right: 0px !important;
    }
    .offres_example_nav{
        margin: auto;
        width: 50%;
        padding: auto;
        padding-top: 50px;
        text-align: center;
        float: none;
        margin-left: 45%;
        margin-top: 20px;
    }

    .img__room{
        text-align: center;
        float:none;
    }

    .offres_theme{
        padding-left: 10%;
        padding-right: 10%;
    }

    .offres__theme_title{
        float: left !important;
        padding-left: 100px;
    }

    .icon__contact_footer{
        padding-left: 100px;
        margin-left: 0px;
        width: 100%;
    }

    .coc__img{
        float: right;
        padding-right: 50% !important;
    }

    .store__icon{
        padding-left: 100px;
        margin-left: 0px;
    }

    .apple_icon{
        padding-left: 20px;
    }
}


@media (max-width: 600px){
    .offres_example_carousel{
        padding-left: 0px;
    }
    .offres_theme {
        font-size: 28px;
    }
    .offres__footer{
        padding-left: 50px;
    }

    .offre__avis__title{
        font-size: 30px;
    }

    .offres__theme_title{
        font-size: 30px;
        padding-left: 61px !important;
    }
    .offres_example {
        font-size: 28px;
        color: #212121;
        float: left;
        width: 100%;
        text-align: center;
    }

    .offres__example__description {
        font-size: 15px;
        color: #8e8f8f;
        text-align: center;
        float: none;
        margin-right: 0px !important;
    }
    .offres_example_nav{
        margin: auto;
        width: 50%;
        padding: auto;
        padding-top: 50px;
        text-align: center;
        float: none;
        margin-left: 45%;
        margin-top: 20px;
    }

    .img__room{
        text-align: center;
        float:none;
    }

    .offres_theme{
        padding-left: 10%;
        padding-right: 10%;
    }

    .offres__theme_title{
        float: left !important;
        padding-left: 15px;
    }

    .icon__contact_footer{
        padding-left: 61px;
        margin-left: 0px;
        width: 100%;
    }

    .coc__img{
        float: right;
        padding-right: 50% !important;
    }

    .store__icon{
        padding-left: 100px;
        margin-left: 0px;
        padding-left: 61px;
        display: block;
    }

    .apple_icon{
        padding-left: 61px;
    }

}